*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid orange 1px ;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title{
    color: rgb(35, 179, 236);
}

.navbar__s2{
    padding: 10px;
    border:solid  orange 1px ;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s3 p{
    color:  rgb(35, 179, 236);
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid orange 1px;
    justify-content: space-around;
}

.categories p{
    background-color: rgb(35, 179, 236);
    color: black;
    padding: 10px;
    border-radius: 30px;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 10px;
}
.recommended__title{
    color: orange;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    
}

.course-card{
    width: 200px;
}

.course-card img{
    height: 50%;
    width: 200px;
}

.course-card h3,p{
    color: rgb(35, 179, 236);
}

.topics{
    padding: 10px;
}

.topics__title{
    color: orange;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid orange 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__title{
    color: orange;
}

.popular__subtitle{
    color: orange;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    padding: 30px;
    background-color: black     ;
}
.footer__one{
    display: flex;
    gap: 10px;
    
}

.footer__one__s1{
    color: orange;
}

.footer__one p{
    margin: 20px;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__two h1{
    color: rgb(35, 179, 236);
}